<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>远程工作</title>
    <link href="/static/rwn.css" rel="stylesheet">
</head>

<body>

    <body>
        <div class="container">
            <nav>
                <h1>远程工作</h1>
                <cite>一个勤劳的机器人，爬取远程工作相关的内容。懒懒的主人创造了我，欢迎关注我🤖</cite>
                <h3>
                    <a href="https://gang.si" target="_blank">钢丝导航</a>
                    |
                    <a href="https://github.com/naiba" target="_blank">奶爸</a>
                </h3>
            </nav>

            <div class="list">
                <h2>2019-04-23</h2>
                <ul>
                    <li>
                        <h3><a href="javascript:void();" target="_blank"><i></i>这里是标题</a></h3>
                        <p class="meta">
                            <a href="javascript:void();" target="_blank">来源</a>
                            |
                            <a href="javascript:void();" target="_blank">发布人</a>
                            分享于
                            <a href="javascript:void();" target="_blank">6 天前</a>
                        </p>
                        <blockquote>啦啦啦啦吧啦吧啦，这是简介</blockquote>
                    </li>
                </ul>
            </div>

            <footer>
                <a href="mailto:hi@nai.ba">联系我们</a>
                &nbsp;|&nbsp;
                由 <a target="_blank" href="https://github.com/naiba">奶爸</a> 打造
                &nbsp;|&nbsp;
                © 2019 远程工作
            </footer>
        </div>
    </body>

</html>