<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>远程工作</title>
    <link href="/static/rwn.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/static/logo.png" />
</head>

<body>

    <body>
        <div class="container">
            <nav>
                <h1>远程工作</h1>
                <cite>一个勤劳的机器人，爬取远程工作相关的内容。懒懒的主人创造了我，下面是我抓取的站点，欢迎关注我🤖</cite>
                <h3>
                    {{range $k,$v := .media}}
                    <a href="{{$v.Link}}" rel="nofollow" title="{{$v.Desc}}" target="_blank">{{$v.Name}}</a>
                    |
                    {{end}}
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=33ec2efcc90d9a5fd17bd49161303e617d95564699b75f4df8f6ec85769ef86b"
                        title="Q群：1016797014" target="_blank">加入交流群</a>
                </h3>
            </nav>
            <div class="list">
                {{range .job}}
                <h2>{{.Day}}</h2>
                <ul>
                    {{range .Jobs}}
                    <li>
                        <h3><a href="{{if .URL}}{{.URL}}{{else}}javascript:void();{{end}}" rel="nofollow"
                                target="_blank"><i></i>{{.Title}}</a></h3>
                        <p class="meta">
                            <a href="{{if (index $.media .MediaID).Link}}{{(index $.media .MediaID).Link}}{{else}}javascript:void();{{end}}"
                                rel="nofollow" target="_blank">{{(index $.media .MediaID).Name}}</a>
                            |
                            <a href="{{if .PusherLink}}{{.PusherLink}}{{else}}javascript:void();{{end}}" rel="nofollow"
                                target="_blank">{{.Pusher}}</a>
                            分享于
                            <a href="javascript:void();" target="_blank">{{.PublishedAt}}</a>
                        </p>
                        <blockquote>{{printf "%.25s" .Content}}</blockquote>
                    </li>
                    {{end}}
                </ul>
                {{end}}
            </div>

            <footer>
                <a href="mailto:hi@nai.ba">联系</a>
                &nbsp;|&nbsp;
                由 <a target="_blank" href="https://github.com/naiba">奶爸</a> 打造 build · {{.version}}
                &nbsp;|&nbsp;
                © 2019 远程工作
            </footer>
        </div>
    </body>

</html>